<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="col-md-8">
   <table class="table">
    <h1 class="text-center">List TRAINERS</h1>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th>Team</th>
      <th>Action</th>
      <th>Avatar</th>
    </tr>

    <!-- <tr *ngFor=" let trainer of trainers; let i = index "> -->
    <tr *ngFor=" let trainer of trainers ">
      <td><span [emptyImage]="trainer.avatar" > </span> </td>
      <td>{{trainer.name}}</td>
      <td>
        <p [emptyData]="trainer.birthday"></p>
      </td>
      <td [ngClass]="{ red: trainer.team === 'Ruby', yellow: trainer.team === 'FE'}">
        {{trainer.team}}
      </td> 
      <td><button  (click) = show(trainer.id) class="btn btn-primary">Show</button> </td> 
    </tr>
  </table>
</div>
</body>
</html>
