<!-- <!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container">

    <table class="col-md-8">
      <h1 class="title">List TRAINERS</h1>
      <tr>
        <th>Avatar</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Team</th>
        <th>Action</th>
      </tr>
      <tr *ngFor=" let trainer of trainers">
        <td><img src="{{trainer.avatar}}" width="100px" height="100px"></td>
        <td>[emptyImage]="trainer.avatar"</td>
        <td>{{trainer.name}}</td>
        <td>
         <p [emptyData]="trainer.birthday"></p>
            <template [ngIf] ="trainer.birthday">{{trainer.birthday}}</template>
            <template [ngIf] ="!trainer.birthday">Empty</template>
        </td>
        <td [ngClass]="{ red: trainer.team === 'Ruby', yellow: trainer.team === 'FE'}">
          {{trainer.team}}
        </td> 
        <button  (click) = show(trainer) class="btn btn-primary">Show</button>  
      </tr>
    </table>

    <div class="col-md-4" *ngIf="trainerInfo !=null ">
      <h2 class="title">Information</h2>
      <img src="{{trainerInfo.avatar}}" width="100px" height="100px"><br/>
      <b>Name</b><p>{{trainerInfo.name}}</p>
      <b>Birthday</b><p [emptyData]="trainerInfo.birthday"></p>
      <p>{{trainerInfo.birthday}}</p>
      <b>Team</b><p>{{trainerInfo.team}}</p>
    </div>
  </div>
</body>
</html> -->


<app-list (myEvent)="show($event)"></app-list>
<app-detail [id]= "id"></app-detail>